<!DOCTYPE html>
<html>

<head>
<title>Angular Web App 2.0</title>
<!--<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">-->
<link rel="stylesheet" href="/components/bootswatch-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/Styles/site.css">
</head>

<body ng-app="AngularWebApp" ng-controller="BaseController">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
	  <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
	  <ul class="nav navbar-nav">
		  <li ng-if="loggedIn()"><a href="/#/values">Values</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!loggedIn()"><a href="/#/login" >Login</a></li>
		<li ng-if="!loggedIn()"><a href="/#/register">Register</a></li>
		<li ng-if="loggedIn()"><a style="font-weight:bold; cursor:default; pointer-events: none;">Logged In</a></li>
			<!--<span class="label label-success" ng-if="loggedIn()">Logged In</span></li>-->
		<li ng-if="loggedIn()"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>


<!--<a href="/#/login" ng-if="!loggedIn()">Login</a>
<a href="/#/register" ng-if="!loggedIn()">Register</a>
<a href="" ng-if="loggedIn()" ng-click="logout()">Logout</a>
<a href="/#/values">Values</a>
-->



<div ng-view></div>

<script src="/components/angular/angular.min.js"></script>
<script src="/components/angular-route/angular-route.min.js"></script>
<script src="/components/angular-cookies/angular-cookies.min.js"></script>

<script src="/Scripts/Controllers/BaseController.js"></script>
<script src="/Scripts/Controllers/LoginController.js"></script>
<script src="/Scripts/Controllers/RegisterController.js"></script>
<script src="/Scripts/Controllers/ValuesController.js"></script>
<script src="/Scripts/Services/SessionService.js"></script>
<script src="/Scripts/Factories/LoginFactory.js"></script>
<script src="/Scripts/Factories/RegisterFactory.js"></script>
<script src="/Scripts/Factories/GetValuesFactory.js"></script>
<script src="/Scripts/AngularWebApp.js"></script>
</body>

</html>